# Proyecto: Análisis de delitos en la Ciudad Autónoma de Buenos Aires en el año 2024 | Consultas SQL avanzadas

## Librerías y configuración inicial

In [41]:
# Instalar todas las dependencias del proyecto
!pip install -r requirements.txt

# Importar librerías necesarias
import pandas as pd
from sqlalchemy import create_engine
import os
from dotenv import load_dotenv

!pip install prettytable==3.9.0 # Asegurarse de que prettytable está instalado

# Cargar las variables de entorno desde el archivo .env
load_dotenv()

# --- Configuración de la conexión segura ---
db_user = os.getenv("DB_USER")
db_password = os.getenv("DB_PASSWORD")
db_host = 'localhost'
db_port = '5432'
db_name = 'delitos_db'

# Validar que las variables se cargaron
if not db_user or not db_password:
    raise ValueError("No se encontraron las credenciales de la base de datos en las variables de entorno.")

# Crear la cadena de conexión
connection_str = f'postgresql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}'
engine = create_engine(connection_str)

print("Conexión establecida de forma segura.")
# --- Fin de la configuración de la conexión segura ---

Requirement already satisfied: pandas in /home/codespace/.local/lib/python3.12/site-packages (from -r requirements.txt (line 1)) (2.3.1)
Requirement already satisfied: sqlalchemy in /usr/local/python/3.12.1/lib/python3.12/site-packages (from -r requirements.txt (line 2)) (2.0.43)
Requirement already satisfied: psycopg2-binary in /usr/local/python/3.12.1/lib/python3.12/site-packages (from -r requirements.txt (line 3)) (2.9.10)
Requirement already satisfied: ipython-sql in /usr/local/python/3.12.1/lib/python3.12/site-packages (from -r requirements.txt (line 4)) (0.5.0)
Requirement already satisfied: jupyter in /usr/local/python/3.12.1/lib/python3.12/site-packages (from -r requirements.txt (line 5)) (1.1.1)
Requirement already satisfied: python-dotenv in /usr/local/python/3.12.1/lib/python3.12/site-packages (from -r requirements.txt (line 6)) (1.1.1)
Requirement already satisfied: folium in /usr/local/python/3.12.1/lib/python3.12/site-packages (from -r requirements.txt (line 7)) (0.20.0)
Requirement already satisfied: numpy>=1.26.0 in /home/codespace/.local/lib/python3.12/site-packages (from pandas->-r requirements.txt (line 1)) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.12/site-packages (from pandas->-r requirements.txt (line 1)) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.12/site-packages (from pandas->-r requirements.txt (line 1)) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /home/codespace/.local/lib/python3.12/site-packages (from pandas->-r requirements.txt (line 1)) (2025.2)
Requirement already satisfied: greenlet>=1 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from sqlalchemy->-r requirements.txt (line 2)) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/codespace/.local/lib/python3.12/site-packages (from sqlalchemy->-r requirements.txt (line 2)) (4.14.1)
Requirement already satisfied: prettytable in /usr/local/python/3.12.1/lib/python3.12/site-packages (from ipython-sql->-r requirements.txt (line 4)) (3.9.0)
Requirement already satisfied: ipython in /home/codespace/.local/lib/python3.12/site-packages (from ipython-sql->-r requirements.txt (line 4)) (9.4.0)
Requirement already satisfied: sqlparse in /usr/local/python/3.12.1/lib/python3.12/site-packages (from ipython-sql->-r requirements.txt (line 4)) (0.5.3)
Requirement already satisfied: six in /home/codespace/.local/lib/python3.12/site-packages (from ipython-sql->-r requirements.txt (line 4)) (1.17.0)
Requirement already satisfied: ipython-genutils in /usr/local/python/3.12.1/lib/python3.12/site-packages (from ipython-sql->-r requirements.txt (line 4)) (0.2.0)
Requirement already satisfied: notebook in /usr/local/python/3.12.1/lib/python3.12/site-packages (from jupyter->-r requirements.txt (line 5)) (7.4.5)
Requirement already satisfied: jupyter-console in /usr/local/python/3.12.1/lib/python3.12/site-packages (from jupyter->-r requirements.txt (line 5)) (6.6.3)
Requirement already satisfied: nbconvert in /home/codespace/.local/lib/python3.12/site-packages (from jupyter->-r requirements.txt (line 5)) (7.16.6)
Requirement already satisfied: ipykernel in /home/codespace/.local/lib/python3.12/site-packages (from jupyter->-r requirements.txt (line 5)) (6.29.5)
Requirement already satisfied: ipywidgets in /usr/local/python/3.12.1/lib/python3.12/site-packages (from jupyter->-r requirements.txt (line 5)) (8.1.7)
Requirement already satisfied: jupyterlab in /usr/local/python/3.12.1/lib/python3.12/site-packages (from jupyter->-r requirements.txt (line 5)) (4.4.6)
Requirement already satisfied: branca>=0.6.0 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from folium->-r requirements.txt (line 7)) (0.8.1)
Requirement already satisfied: jinja2>=2.9 in /home/codespace/.local/lib/python3.12/site-packages (from folium->-r requirements.txt (line 7)) (3.1.6)
Requirement already satisfied: requests in /home/codespace/.local/lib/python3.12/site-packages (from folium->-r requirements.txt (line 7)) (2.32.4)
Requirement already satisfied: xyzservices in /usr/local/python/3.12.1/lib/python3.12/site-packages (from folium->-r requirements.txt (line 7)) (2025.4.0)
Requirement already satisfied: MarkupSafe>=2.0 in /home/codespace/.local/lib/python3.12/site-packages (from jinja2>=2.9->folium->-r requirements.txt (line 7)) (3.0.2)
Requirement already satisfied: comm>=0.1.1 in /home/codespace/.local/lib/python3.12/site-packages (from ipykernel->jupyter->-r requirements.txt (line 5)) (0.2.2)
Requirement already satisfied: debugpy>=1.6.5 in /home/codespace/.local/lib/python3.12/site-packages (from ipykernel->jupyter->-r requirements.txt (line 5)) (1.8.14)
Requirement already satisfied: jupyter-client>=6.1.12 in /home/codespace/.local/lib/python3.12/site-packages (from ipykernel->jupyter->-r requirements.txt (line 5)) (8.6.3)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in /home/codespace/.local/lib/python3.12/site-packages (from ipykernel->jupyter->-r requirements.txt (line 5)) (5.8.1)
Requirement already satisfied: matplotlib-inline>=0.1 in /home/codespace/.local/lib/python3.12/site-packages (from ipykernel->jupyter->-r requirements.txt (line 5)) (0.1.7)
Requirement already satisfied: nest-asyncio in /home/codespace/.local/lib/python3.12/site-packages (from ipykernel->jupyter->-r requirements.txt (line 5)) (1.6.0)
Requirement already satisfied: packaging in /home/codespace/.local/lib/python3.12/site-packages (from ipykernel->jupyter->-r requirements.txt (line 5)) (25.0)
Requirement already satisfied: psutil in /home/codespace/.local/lib/python3.12/site-packages (from ipykernel->jupyter->-r requirements.txt (line 5)) (7.0.0)
Requirement already satisfied: pyzmq>=24 in /home/codespace/.local/lib/python3.12/site-packages (from ipykernel->jupyter->-r requirements.txt (line 5)) (27.0.0)
Requirement already satisfied: tornado>=6.1 in /home/codespace/.local/lib/python3.12/site-packages (from ipykernel->jupyter->-r requirements.txt (line 5)) (6.5.1)
Requirement already satisfied: traitlets>=5.4.0 in /home/codespace/.local/lib/python3.12/site-packages (from ipykernel->jupyter->-r requirements.txt (line 5)) (5.14.3)
Requirement already satisfied: decorator in /home/codespace/.local/lib/python3.12/site-packages (from ipython->ipython-sql->-r requirements.txt (line 4)) (5.2.1)
Requirement already satisfied: ipython-pygments-lexers in /home/codespace/.local/lib/python3.12/site-packages (from ipython->ipython-sql->-r requirements.txt (line 4)) (1.1.1)
Requirement already satisfied: jedi>=0.16 in /home/codespace/.local/lib/python3.12/site-packages (from ipython->ipython-sql->-r requirements.txt (line 4)) (0.19.2)
Requirement already satisfied: pexpect>4.3 in /home/codespace/.local/lib/python3.12/site-packages (from ipython->ipython-sql->-r requirements.txt (line 4)) (4.9.0)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in /home/codespace/.local/lib/python3.12/site-packages (from ipython->ipython-sql->-r requirements.txt (line 4)) (3.0.51)
Requirement already satisfied: pygments>=2.4.0 in /home/codespace/.local/lib/python3.12/site-packages (from ipython->ipython-sql->-r requirements.txt (line 4)) (2.19.2)
Requirement already satisfied: stack_data in /home/codespace/.local/lib/python3.12/site-packages (from ipython->ipython-sql->-r requirements.txt (line 4)) (0.6.3)
Requirement already satisfied: wcwidth in /home/codespace/.local/lib/python3.12/site-packages (from prompt_toolkit<3.1.0,>=3.0.41->ipython->ipython-sql->-r requirements.txt (line 4)) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /home/codespace/.local/lib/python3.12/site-packages (from jedi>=0.16->ipython->ipython-sql->-r requirements.txt (line 4)) (0.8.4)
Requirement already satisfied: platformdirs>=2.5 in /home/codespace/.local/lib/python3.12/site-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel->jupyter->-r requirements.txt (line 5)) (4.3.8)
Requirement already satisfied: ptyprocess>=0.5 in /home/codespace/.local/lib/python3.12/site-packages (from pexpect>4.3->ipython->ipython-sql->-r requirements.txt (line 4)) (0.7.0)
Requirement already satisfied: widgetsnbextension~=4.0.14 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from ipywidgets->jupyter->-r requirements.txt (line 5)) (4.0.14)
Requirement already satisfied: jupyterlab_widgets~=3.0.15 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from ipywidgets->jupyter->-r requirements.txt (line 5)) (3.0.15)
Requirement already satisfied: async-lru>=1.0.0 in /home/codespace/.local/lib/python3.12/site-packages (from jupyterlab->jupyter->-r requirements.txt (line 5)) (2.0.5)
Requirement already satisfied: httpx<1,>=0.25.0 in /home/codespace/.local/lib/python3.12/site-packages (from jupyterlab->jupyter->-r requirements.txt (line 5)) (0.28.1)
Requirement already satisfied: jupyter-lsp>=2.0.0 in /home/codespace/.local/lib/python3.12/site-packages (from jupyterlab->jupyter->-r requirements.txt (line 5)) (2.2.5)
Requirement already satisfied: jupyter-server<3,>=2.4.0 in /home/codespace/.local/lib/python3.12/site-packages (from jupyterlab->jupyter->-r requirements.txt (line 5)) (2.16.0)
Requirement already satisfied: jupyterlab-server<3,>=2.27.1 in /home/codespace/.local/lib/python3.12/site-packages (from jupyterlab->jupyter->-r requirements.txt (line 5)) (2.27.3)
Requirement already satisfied: notebook-shim>=0.2 in /home/codespace/.local/lib/python3.12/site-packages (from jupyterlab->jupyter->-r requirements.txt (line 5)) (0.2.4)
Requirement already satisfied: setuptools>=41.1.0 in /home/codespace/.local/lib/python3.12/site-packages (from jupyterlab->jupyter->-r requirements.txt (line 5)) (80.9.0)
Requirement already satisfied: anyio in /home/codespace/.local/lib/python3.12/site-packages (from httpx<1,>=0.25.0->jupyterlab->jupyter->-r requirements.txt (line 5)) (4.9.0)
Requirement already satisfied: certifi in /home/codespace/.local/lib/python3.12/site-packages (from httpx<1,>=0.25.0->jupyterlab->jupyter->-r requirements.txt (line 5)) (2025.7.9)
Requirement already satisfied: httpcore==1.* in /home/codespace/.local/lib/python3.12/site-packages (from httpx<1,>=0.25.0->jupyterlab->jupyter->-r requirements.txt (line 5)) (1.0.9)
Requirement already satisfied: idna in /home/codespace/.local/lib/python3.12/site-packages (from httpx<1,>=0.25.0->jupyterlab->jupyter->-r requirements.txt (line 5)) (3.10)
Requirement already satisfied: h11>=0.16 in /home/codespace/.local/lib/python3.12/site-packages (from httpcore==1.*->httpx<1,>=0.25.0->jupyterlab->jupyter->-r requirements.txt (line 5)) (0.16.0)
Requirement already satisfied: argon2-cffi>=21.1 in /home/codespace/.local/lib/python3.12/site-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter->-r requirements.txt (line 5)) (25.1.0)
Requirement already satisfied: jupyter-events>=0.11.0 in /home/codespace/.local/lib/python3.12/site-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter->-r requirements.txt (line 5)) (0.12.0)
Requirement already satisfied: jupyter-server-terminals>=0.4.4 in /home/codespace/.local/lib/python3.12/site-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter->-r requirements.txt (line 5)) (0.5.3)
Requirement already satisfied: nbformat>=5.3.0 in /home/codespace/.local/lib/python3.12/site-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter->-r requirements.txt (line 5)) (5.10.4)
Requirement already satisfied: overrides>=5.0 in /home/codespace/.local/lib/python3.12/site-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter->-r requirements.txt (line 5)) (7.7.0)
Requirement already satisfied: prometheus-client>=0.9 in /home/codespace/.local/lib/python3.12/site-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter->-r requirements.txt (line 5)) (0.22.1)
Requirement already satisfied: send2trash>=1.8.2 in /home/codespace/.local/lib/python3.12/site-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter->-r requirements.txt (line 5)) (1.8.3)
Requirement already satisfied: terminado>=0.8.3 in /home/codespace/.local/lib/python3.12/site-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter->-r requirements.txt (line 5)) (0.18.1)
Requirement already satisfied: websocket-client>=1.7 in /home/codespace/.local/lib/python3.12/site-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter->-r requirements.txt (line 5)) (1.8.0)
Requirement already satisfied: babel>=2.10 in /home/codespace/.local/lib/python3.12/site-packages (from jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->-r requirements.txt (line 5)) (2.17.0)
Requirement already satisfied: json5>=0.9.0 in /home/codespace/.local/lib/python3.12/site-packages (from jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->-r requirements.txt (line 5)) (0.12.0)
Requirement already satisfied: jsonschema>=4.18.0 in /home/codespace/.local/lib/python3.12/site-packages (from jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->-r requirements.txt (line 5)) (4.24.0)
Requirement already satisfied: sniffio>=1.1 in /home/codespace/.local/lib/python3.12/site-packages (from anyio->httpx<1,>=0.25.0->jupyterlab->jupyter->-r requirements.txt (line 5)) (1.3.1)
Requirement already satisfied: argon2-cffi-bindings in /home/codespace/.local/lib/python3.12/site-packages (from argon2-cffi>=21.1->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->-r requirements.txt (line 5)) (21.2.0)
Requirement already satisfied: attrs>=22.2.0 in /home/codespace/.local/lib/python3.12/site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->-r requirements.txt (line 5)) (25.3.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /home/codespace/.local/lib/python3.12/site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->-r requirements.txt (line 5)) (2025.4.1)
Requirement already satisfied: referencing>=0.28.4 in /home/codespace/.local/lib/python3.12/site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->-r requirements.txt (line 5)) (0.36.2)
Requirement already satisfied: rpds-py>=0.7.1 in /home/codespace/.local/lib/python3.12/site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->-r requirements.txt (line 5)) (0.26.0)
Requirement already satisfied: python-json-logger>=2.0.4 in /home/codespace/.local/lib/python3.12/site-packages (from jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->-r requirements.txt (line 5)) (3.3.0)
Requirement already satisfied: pyyaml>=5.3 in /home/codespace/.local/lib/python3.12/site-packages (from jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->-r requirements.txt (line 5)) (6.0.2)
Requirement already satisfied: rfc3339-validator in /home/codespace/.local/lib/python3.12/site-packages (from jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->-r requirements.txt (line 5)) (0.1.4)
Requirement already satisfied: rfc3986-validator>=0.1.1 in /home/codespace/.local/lib/python3.12/site-packages (from jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->-r requirements.txt (line 5)) (0.1.1)
Requirement already satisfied: fqdn in /home/codespace/.local/lib/python3.12/site-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->-r requirements.txt (line 5)) (1.5.1)
Requirement already satisfied: isoduration in /home/codespace/.local/lib/python3.12/site-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->-r requirements.txt (line 5)) (20.11.0)
Requirement already satisfied: jsonpointer>1.13 in /home/codespace/.local/lib/python3.12/site-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->-r requirements.txt (line 5)) (3.0.0)
Requirement already satisfied: uri-template in /home/codespace/.local/lib/python3.12/site-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->-r requirements.txt (line 5)) (1.3.0)
Requirement already satisfied: webcolors>=24.6.0 in /home/codespace/.local/lib/python3.12/site-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->-r requirements.txt (line 5)) (24.11.1)
Requirement already satisfied: beautifulsoup4 in /home/codespace/.local/lib/python3.12/site-packages (from nbconvert->jupyter->-r requirements.txt (line 5)) (4.13.4)
Requirement already satisfied: bleach!=5.0.0 in /home/codespace/.local/lib/python3.12/site-packages (from bleach[css]!=5.0.0->nbconvert->jupyter->-r requirements.txt (line 5)) (6.2.0)
Requirement already satisfied: defusedxml in /home/codespace/.local/lib/python3.12/site-packages (from nbconvert->jupyter->-r requirements.txt (line 5)) (0.7.1)
Requirement already satisfied: jupyterlab-pygments in /home/codespace/.local/lib/python3.12/site-packages (from nbconvert->jupyter->-r requirements.txt (line 5)) (0.3.0)
Requirement already satisfied: mistune<4,>=2.0.3 in /home/codespace/.local/lib/python3.12/site-packages (from nbconvert->jupyter->-r requirements.txt (line 5)) (3.1.3)
Requirement already satisfied: nbclient>=0.5.0 in /home/codespace/.local/lib/python3.12/site-packages (from nbconvert->jupyter->-r requirements.txt (line 5)) (0.10.2)
Requirement already satisfied: pandocfilters>=1.4.1 in /home/codespace/.local/lib/python3.12/site-packages (from nbconvert->jupyter->-r requirements.txt (line 5)) (1.5.1)
Requirement already satisfied: webencodings in /home/codespace/.local/lib/python3.12/site-packages (from bleach!=5.0.0->bleach[css]!=5.0.0->nbconvert->jupyter->-r requirements.txt (line 5)) (0.5.1)
Requirement already satisfied: tinycss2<1.5,>=1.1.0 in /home/codespace/.local/lib/python3.12/site-packages (from bleach[css]!=5.0.0->nbconvert->jupyter->-r requirements.txt (line 5)) (1.4.0)
Requirement already satisfied: fastjsonschema>=2.15 in /home/codespace/.local/lib/python3.12/site-packages (from nbformat>=5.3.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->-r requirements.txt (line 5)) (2.21.1)
Requirement already satisfied: charset_normalizer<4,>=2 in /home/codespace/.local/lib/python3.12/site-packages (from requests->folium->-r requirements.txt (line 7)) (3.4.2)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/codespace/.local/lib/python3.12/site-packages (from requests->folium->-r requirements.txt (line 7)) (2.5.0)
Requirement already satisfied: cffi>=1.0.1 in /home/codespace/.local/lib/python3.12/site-packages (from argon2-cffi-bindings->argon2-cffi>=21.1->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->-r requirements.txt (line 5)) (1.17.1)
Requirement already satisfied: pycparser in /home/codespace/.local/lib/python3.12/site-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi>=21.1->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->-r requirements.txt (line 5)) (2.22)
Requirement already satisfied: soupsieve>1.2 in /home/codespace/.local/lib/python3.12/site-packages (from beautifulsoup4->nbconvert->jupyter->-r requirements.txt (line 5)) (2.7)
Requirement already satisfied: arrow>=0.15.0 in /home/codespace/.local/lib/python3.12/site-packages (from isoduration->jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->-r requirements.txt (line 5)) (1.3.0)
Requirement already satisfied: types-python-dateutil>=2.8.10 in /home/codespace/.local/lib/python3.12/site-packages (from arrow>=0.15.0->isoduration->jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.11.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->-r requirements.txt (line 5)) (2.9.0.20250708)
Requirement already satisfied: executing>=1.2.0 in /home/codespace/.local/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql->-r requirements.txt (line 4)) (2.2.0)

## Carga de datos

In [42]:
# --- Carga de datos ---
# Cargar el archivo CSV en un DataFrame de Pandas
df_delitos = pd.read_csv('delitos_2024.csv')

# Limpiar nombres de columnas (buena práctica)
# Reemplaza espacios y caracteres especiales por guiones bajos
df_delitos.columns = df_delitos.columns.str.replace(' ', '_').str.lower()

# Nombre de la tabla en la base de datos
table_name = 'delitos'

# --- Subir el DataFrame a PostgreSQL ---
try:
    # Usamos el método to_sql de pandas
    # if_exists='replace' borrará la tabla si ya existe y la creará de nuevo.
    # index=False evita que se guarde el índice del DataFrame como una columna en la tabla
    # Esto es útil para evitar duplicados y mantener la tabla limpia.
    df_delitos.to_sql(table_name, engine, if_exists='replace', index=False)
    print(f"¡Éxito! Se cargaron {len(df_delitos)} registros en la tabla '{table_name}'.")

except Exception as e:
    print(f"Ocurrió un error: {e}")

¡Éxito! Se cargaron 158838 registros en la tabla 'delitos'.

In [43]:
print(df_delitos.columns)

Index(['id-mapa', 'anio', 'mes', 'dia', 'fecha', 'franja', 'tipo', 'subtipo',
       'uso_arma', 'uso_moto', 'barrio', 'comuna', 'latitud', 'longitud',
       'cantidad'],
      dtype='object')

## Consultas avanzadas SQL con "Magic Commands"

### Carga de la extensión de SQL para consultas avanzadas

In [44]:
# --- Carga de la extensión de SQL para consultas avanzadas ---
# Esto permite usar comandos SQL directamente en el notebook
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

### Conexión para la extensión

In [45]:
%sql postgresql://{db_user}:{db_password}@{db_host}/{db_name}

### 1. Top 10 Barrios con mayor cantidad de delito

In [46]:
%%sql
SELECT barrio, SUM(cantidad) as total_delitos
FROM delitos
GROUP BY barrio
ORDER BY total_delitos DESC
LIMIT 10;

 * postgresql://user_delitos:***@localhost/delitos_db
10 rows affected.

[('PALERMO', Decimal('12794')),
 ('BALVANERA', Decimal('9967')),
 ('FLORES', Decimal('8509')),
 ('CABALLITO', Decimal('6863')),
 ('RECOLETA', Decimal('6690')),
 ('ALMAGRO', Decimal('6026')),
 ('VILLA LUGANO', Decimal('5861')),
 ('SAN NICOLAS', Decimal('5831')),
 ('BARRACAS', Decimal('5389')),
 ('BELGRANO', Decimal('5043'))]

### 2. Distribución de delitos por día de la semana

In [47]:
df_delitos['dia'].unique()

array(['LUNES', 'MARTES', 'MIERCOLES', 'JUEVES', 'VIERNES', 'SABADO',
       'DOMINGO'], dtype=object)

In [48]:
%%sql
SELECT dia, SUM(cantidad) as total_delitos
FROM delitos
GROUP BY dia
ORDER BY
    CASE
        WHEN dia = 'LUNES' THEN 1
        WHEN dia = 'MARTES' THEN 2
        WHEN dia = 'MIERCOLES' THEN 3
        WHEN dia = 'JUEVES' THEN 4
        WHEN dia = 'VIERNES' THEN 5
        WHEN dia = 'SABADO' THEN 6
        WHEN dia = 'DOMINGO' THEN 7
    END;

 * postgresql://user_delitos:***@localhost/delitos_db
7 rows affected.

[('LUNES', Decimal('23229')),
 ('MARTES', Decimal('22501')),
 ('MIERCOLES', Decimal('23038')),
 ('JUEVES', Decimal('22921')),
 ('VIERNES', Decimal('24216')),
 ('SABADO', Decimal('22943')),
 ('DOMINGO', Decimal('19990'))]

### 3. Delitos por franja horaria para entender patrones diarios

**Notas sobre el tratamiento de datos:**
Para este análisis, los registros con valores nulos (`NULL`/`None`) en la columna `franja` han sido asignados al valor `24`. Esta decisión se tomó para mantener la totalidad de los datos en el análisis sin descartar registros y para agrupar los datos faltantes en una categoría separada, facilitando su visualización y comprensión. El valor `24` se eligió arbitrariamente ya que no representa una franja horaria válida dentro del rango 0-23, lo que previene confusiones con los datos existentes.

In [49]:
%%sql
-- NOTA: Se utiliza COALESCE para asignar los valores nulos de la franja horaria a 24.
-- Esto permite mantener los registros incompletos y agruparlos en una categoría separada para el análisis.
SELECT CAST(COALESCE(franja, 24) AS INT) AS franja_horaria, SUM(cantidad) AS total_delitos
FROM delitos
GROUP BY franja_horaria
ORDER BY franja_horaria ASC;

 * postgresql://user_delitos:***@localhost/delitos_db
25 rows affected.

[(0, Decimal('5119')),
 (1, Decimal('3604')),
 (2, Decimal('3002')),
 (3, Decimal('2947')),
 (4, Decimal('3014')),
 (5, Decimal('3633')),
 (6, Decimal('5043')),
 (7, Decimal('7785')),
 (8, Decimal('8210')),
 (9, Decimal('7527')),
 (10, Decimal('7574')),
 (11, Decimal('6638')),
 (12, Decimal('8191')),
 (13, Decimal('6812')),
 (14, Decimal('7331')),
 (15, Decimal('7586')),
 (16, Decimal('7987')),
 (17, Decimal('8638')),
 (18, Decimal('8924')),
 (19, Decimal('8345')),
 (20, Decimal('8676')),
 (21, Decimal('8156')),
 (22, Decimal('7402')),
 (23, Decimal('6647')),
 (24, Decimal('47'))]

### 4. Subtipos de delito más frecuentes

In [50]:
%%sql
SELECT subtipo as subtipo_delito, SUM(cantidad) as total
FROM delitos
WHERE subtipo IS NOT NULL AND subtipo != ''
GROUP BY subtipo_delito
ORDER BY total DESC
LIMIT 15;

 * postgresql://user_delitos:***@localhost/delitos_db
9 rows affected.

[('Robo total', Decimal('67252')),
 ('Hurto total', Decimal('58119')),
 ('Lesiones por siniestros viales', Decimal('10464')),
 ('Lesiones Dolosas', Decimal('9420')),
 ('Amenazas', Decimal('7603')),
 ('Hurto automotor', Decimal('4652')),
 ('Robo automotor', Decimal('1140')),
 ('Muertes por siniestros viales', Decimal('110')),
 ('Homicidios dolosos', Decimal('78'))]

### 5. Porcentaje de delitos con uso de arma

In [51]:
%%sql
SELECT
    uso_arma,
    SUM(cantidad) as total,
    ROUND((SUM(cantidad) * 100.0 / (SELECT SUM(cantidad) FROM delitos)), 2) as porcentaje
FROM delitos
WHERE uso_arma IN ('SI', 'NO')
GROUP BY uso_arma;

 * postgresql://user_delitos:***@localhost/delitos_db
2 rows affected.

[('NO', Decimal('150393'), Decimal('94.68')),
 ('SI', Decimal('8445'), Decimal('5.32'))]

### 6. Delitos con Uso de Moto por Comuna

**Se usa COALESCE para reemplazar los registros con comuna nula por un -1, agrupándolos así para su análisis.**

In [52]:
%%sql
-- Se usa COALESCE para reemplazar los registros con comuna nula por un -1, agrupándolos así para su análisis.
SELECT CAST(COALESCE(comuna, -1) AS INT) AS comuna, SUM(cantidad) AS total_con_moto
FROM delitos
WHERE uso_moto = 'SI'
GROUP BY COALESCE(comuna, -1)
ORDER BY total_con_moto DESC;

 * postgresql://user_delitos:***@localhost/delitos_db
16 rows affected.

[(1, Decimal('862')),
 (4, Decimal('619')),
 (14, Decimal('574')),
 (3, Decimal('539')),
 (15, Decimal('483')),
 (5, Decimal('441')),
 (7, Decimal('368')),
 (13, Decimal('310')),
 (6, Decimal('309')),
 (9, Decimal('239')),
 (2, Decimal('229')),
 (8, Decimal('225')),
 (11, Decimal('224')),
 (12, Decimal('179')),
 (10, Decimal('150')),
 (-1, Decimal('7'))]

### 7. Evolución mensual de los delitos a lo largo del año

In [53]:
%%sql
SELECT mes, SUM(cantidad) as total_delitos
FROM delitos
GROUP BY mes
ORDER BY
    CASE
        WHEN mes = 'ENERO' THEN 1
        WHEN mes = 'FEBRERO' THEN 2
        WHEN mes = 'MARZO' THEN 3
        WHEN mes = 'ABRIL' THEN 4
        WHEN mes = 'MAYO' THEN 5
        WHEN mes = 'JUNIO' THEN 6
        WHEN mes = 'JULIO' THEN 7
        WHEN mes = 'AGOSTO' THEN 8
        WHEN mes = 'SEPTIEMBRE' THEN 9
        WHEN mes = 'OCTUBRE' THEN 10
        WHEN mes = 'NOVIEMBRE' THEN 11
        WHEN mes = 'DICIEMBRE' THEN 12
    END;

 * postgresql://user_delitos:***@localhost/delitos_db
12 rows affected.

[('ENERO', Decimal('13626')),
 ('FEBRERO', Decimal('13592')),
 ('MARZO', Decimal('13915')),
 ('ABRIL', Decimal('13518')),
 ('MAYO', Decimal('13383')),
 ('JUNIO', Decimal('12874')),
 ('JULIO', Decimal('12968')),
 ('AGOSTO', Decimal('12708')),
 ('SEPTIEMBRE', Decimal('12307')),
 ('OCTUBRE', Decimal('12941')),
 ('NOVIEMBRE', Decimal('13645')),
 ('DICIEMBRE', Decimal('13361'))]

### 8. Top 5 Subtipos de delito en la comuna 1 (la de mayor actividad según el informe 2022)

In [54]:
%%sql
SELECT subtipo as subtipo_delito, SUM(cantidad) as total
FROM delitos
WHERE comuna = 1 AND subtipo IS NOT NULL
GROUP BY subtipo_delito
ORDER BY total DESC
LIMIT 5;

 * postgresql://user_delitos:***@localhost/delitos_db
5 rows affected.

[('Robo total', Decimal('9684')),
 ('Hurto total', Decimal('7943')),
 ('Lesiones Dolosas', Decimal('1096')),
 ('Lesiones por siniestros viales', Decimal('1002')),
 ('Amenazas', Decimal('810'))]

### 9. Comparativa de Robos vs. Hurtos

In [55]:
%%sql
SELECT tipo as tipo_delito, SUM(cantidad) as total
FROM delitos
WHERE tipo IN ('Robo', 'Hurto')
GROUP BY tipo_delito
ORDER BY total DESC;

 * postgresql://user_delitos:***@localhost/delitos_db
2 rows affected.

[('Robo', Decimal('68392')), ('Hurto', Decimal('62771'))]

### 10. Barrios más peligrosos en horario nocturno (20:00 a 06:00)

In [56]:
%%sql
SELECT barrio, SUM(cantidad) as total_delitos_nocturnos
FROM delitos
WHERE franja >= 20 OR franja <= 6
GROUP BY barrio
ORDER BY total_delitos_nocturnos DESC
LIMIT 10;

 * postgresql://user_delitos:***@localhost/delitos_db
10 rows affected.

[('PALERMO', Decimal('5486')),
 ('BALVANERA', Decimal('3221')),
 ('FLORES', Decimal('2832')),
 ('ALMAGRO', Decimal('2446')),
 ('RECOLETA', Decimal('2380')),
 ('CABALLITO', Decimal('2281')),
 ('VILLA LUGANO', Decimal('2224')),
 ('SAN NICOLAS', Decimal('2137')),
 ('BARRACAS', Decimal('2061')),
 ('VILLA CRESPO', Decimal('1953'))]